In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import DataFrame, Series

In [18]:
import datetime as datetime
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [4]:
four_hours = Hour(4)
four_hours

In [5]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [6]:
Hour(2) + Minute(30)

In [7]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [8]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', offset='WOM-3FRI')]

In [9]:
ts = Series(np.random.randn(4),
           index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.212539
2000-02-29    1.013899
2000-03-31    1.351827
2000-04-30   -0.771346
Freq: M, dtype: float64

In [10]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.212539
2000-04-30    1.013899
Freq: M, dtype: float64

In [11]:
ts.shift(-2)

2000-01-31    1.351827
2000-02-29   -0.771346
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [12]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.163821
2000-03-31    0.333296
2000-04-30   -1.570595
Freq: M, dtype: float64

In [13]:
ts.shift(2, freq='M')

2000-03-31    1.212539
2000-04-30    1.013899
2000-05-31    1.351827
2000-06-30   -0.771346
Freq: M, dtype: float64

In [14]:
ts.shift(3, freq='D')

2000-02-03    1.212539
2000-03-03    1.013899
2000-04-03    1.351827
2000-05-03   -0.771346
dtype: float64

In [15]:
ts.shift(1, freq='3D')

2000-02-03    1.212539
2000-03-03    1.013899
2000-04-03    1.351827
2000-05-03   -0.771346
dtype: float64

In [16]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    1.212539
2000-02-29 01:30:00    1.013899
2000-03-31 01:30:00    1.351827
2000-04-30 01:30:00   -0.771346
Freq: M, dtype: float64

## 通过偏移量对日期进行位移

In [20]:
from datetime import datetime
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [21]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [22]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [23]:
now + 2 * MonthEnd()

Timestamp('2011-12-31 00:00:00')

In [24]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [25]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [26]:
ts = Series(np.random.randn(20),
           index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31    0.294237
2000-02-29   -0.075911
2000-03-31   -1.038718
dtype: float64

In [28]:
ts.resample('M').mean()

2000-01-31    0.294237
2000-02-29   -0.075911
2000-03-31   -1.038718
Freq: M, dtype: float64

####时区

In [29]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [30]:
tz = pytz.timezone('US/Eastern')
tz

In [31]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)

None

In [32]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [33]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.829690
2012-03-10 09:30:00+00:00   -0.019047
2012-03-11 09:30:00+00:00    0.248889
2012-03-12 09:30:00+00:00    0.364197
2012-03-13 09:30:00+00:00    0.333931
2012-03-14 09:30:00+00:00   -0.579412
Freq: D, dtype: float64

In [34]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [35]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.829690
2012-03-10 04:30:00-05:00   -0.019047
2012-03-11 05:30:00-04:00    0.248889
2012-03-12 05:30:00-04:00    0.364197
2012-03-13 05:30:00-04:00    0.333931
2012-03-14 05:30:00-04:00   -0.579412
Freq: D, dtype: float64

In [36]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.829690
2012-03-10 14:30:00+00:00   -0.019047
2012-03-11 13:30:00+00:00    0.248889
2012-03-12 13:30:00+00:00    0.364197
2012-03-13 13:30:00+00:00    0.333931
2012-03-14 13:30:00+00:00   -0.579412
Freq: D, dtype: float64

In [37]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.829690
2012-03-10 15:30:00+01:00   -0.019047
2012-03-11 14:30:00+01:00    0.248889
2012-03-12 14:30:00+01:00    0.364197
2012-03-13 14:30:00+01:00    0.333931
2012-03-14 14:30:00+01:00   -0.579412
Freq: D, dtype: float64

In [59]:
ts_eastern.tz_convert('Asia/Shanghai')

2012-03-09 22:30:00+08:00   -0.829690
2012-03-10 22:30:00+08:00   -0.019047
2012-03-11 21:30:00+08:00    0.248889
2012-03-12 21:30:00+08:00    0.364197
2012-03-13 21:30:00+08:00    0.333931
2012-03-14 21:30:00+08:00   -0.579412
Freq: D, dtype: float64

In [60]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [61]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [62]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [63]:
stamp_utc.value

1299902400000000000L

In [64]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000L

In [70]:
# 夏令时转变前30分钟
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-11 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [71]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [68]:
# 夏令时转变前90分钟
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [69]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [72]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -0.283864
2012-03-08 09:30:00    0.679100
2012-03-09 09:30:00   -1.512661
2012-03-12 09:30:00    0.177151
2012-03-13 09:30:00    0.075401
2012-03-14 09:30:00    1.346548
2012-03-15 09:30:00    0.260973
2012-03-16 09:30:00   -1.707264
2012-03-19 09:30:00   -0.315462
2012-03-20 09:30:00   -0.416966
Freq: B, dtype: float64

In [73]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [74]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [77]:
p+5

Period('2012', 'A-DEC')

In [78]:
p - 2

Period('2005', 'A-DEC')

In [79]:
pd.Period('2014', freq='A-DEC') - p

7L

In [80]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='int64', freq='M')

In [81]:
Series(np.random.randn(6), index=rng)

2000-01    0.222164
2000-02    1.030059
2000-03   -0.687054
2000-04   -1.088784
2000-05   -2.102727
2000-06    1.115563
Freq: M, dtype: float64

In [82]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='int64', freq='Q-DEC')

In [83]:
p = pd.Period('2007', freq='A-DEC')
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [84]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [87]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [88]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [89]:
p = pd.Period('2007-08', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [90]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2006   -0.158434
2007    1.095373
2008    1.427698
2009   -0.030237
Freq: A-DEC, dtype: float64

In [91]:
ts.asfreq('M', how='start')

2006-01   -0.158434
2007-01    1.095373
2008-01    1.427698
2009-01   -0.030237
Freq: M, dtype: float64

In [92]:
ts.asfreq('B', how='end')

2006-12-29   -0.158434
2007-12-31    1.095373
2008-12-31    1.427698
2009-12-31   -0.030237
Freq: B, dtype: float64

In [93]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [94]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [95]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [97]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [98]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')