In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import DataFrame, Series
from datetime import datetime

In [9]:
ts1 = Series(np.random.randn(3),
            index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    1.057916
2012-06-20    0.166717
2012-06-27    0.316103
Freq: W-WED, dtype: float64

In [10]:
ts1.resample('B').mean()

2012-06-13    1.057916
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20    0.166717
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27    0.316103
Freq: B, dtype: float64

In [17]:
ts1.resample('D').ffill()

2012-06-13    1.057916
2012-06-14    1.057916
2012-06-15    1.057916
2012-06-16    1.057916
2012-06-17    1.057916
2012-06-18    1.057916
2012-06-19    1.057916
2012-06-20    0.166717
2012-06-21    0.166717
2012-06-22    0.166717
2012-06-23    0.166717
2012-06-24    0.166717
2012-06-25    0.166717
2012-06-26    0.166717
2012-06-27    0.316103
Freq: D, dtype: float64

In [13]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                         '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12    0.523670
2012-06-17   -0.157751
2012-06-18   -0.198226
2012-06-21   -0.922174
2012-06-22    1.474435
2012-06-29    0.397081
dtype: float64

In [20]:
ts1 = ts1.resample('D').ffill()
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    1.057916
2012-06-18    1.057916
2012-06-21    0.166717
2012-06-22    0.166717
2012-06-29    0.316103
dtype: float64

In [19]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.900165
2012-06-18    0.859690
2012-06-21   -0.755457
2012-06-22    1.641153
2012-06-29    0.713184
dtype: float64

In [21]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
            index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
             index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [22]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [25]:
infl_q = infl.asfreq('Q-SEP', how='end')
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [26]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64